<footer id="footer">
  <div class="container">
    <div class="copyright">
      <small>
        <a href="https://github.com/ayush268/certification">Code</a>
      </small>
    </div>
    <div class="credits">
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

