<% provide(:title, "HomePage") %>
<h1><%= "Hi " + @user[:name] %></h1>
<p><%= "Name: " + @user[:name] %></p>
<p><%= "Username: " + @user[:username] %></p>
<p><%= "Public_addr: " + @user[:public_addr] %></p>
