<% provide(:title, "Course HomePage") %>
<h1><%= @course[:course_no] + ", " + @course[:course_session] %></h1>
<p>
  <% if course_status(@course) == "Registration Period" %>
    <%= "Request is sent to the instructor" %>
  <% elsif course_status(@course) == "Course Ongoing" %>
      <a href="/certificate.json">Download Acceptance Certificate</a>
  <% else %>
    <% if @mapping[:passed] %>
      <a href="/certificate.json">Download Acceptance Certificate</a>
    <% else %>
      <a href="/certificate.json">Download Completion Certificate</a>
    <% end %>
  <% end %>
</p>
