<% provide(:title, "About") %>
<section id="contact" class="section-bg wow" style="visibility:visible;">
  <div class="container">
    <div class="section-header">
      <h2>About</h2>
	  <p>Platform for registering for courses and getting certificates for the courses you were accepted in or have passed.</p>
    </div>
  </div>
</section>
