<% provide(:title, "Contact") %>
<section id="contact" class="section-bg wow" style="visibility:visible;">
  <div class="container">
    <div class="section-header">
      <h2>Contact</h2>
	  <p>Please contact us https://github.com/ayush268/certification.</p>
    </div>
  </div>
</section>
